Trailing '=' signs in base32 encoding for TOTP fail with Google Authenticator

Google Authenticator for iOS reads QR codes to import TOTP settings. When importing various TOTP codes, I ran across 2 issues:

1. #2915 (seems this could be already resolved)
2. TOTP seeds that have trailing `=` do not import.

Trailing `=` in the TOTP seeds is a direct result of Base32 encoding. It is "padding" but it's not valid as part of a URL string.

## Expected Behavior
TOTP setting should import.

## Current Behavior
I get an error message from Google Authenticator iOS that it failed to add the key.

## Possible Solution
According to Google Authenticator's Wiki:

```
REQUIRED: The secret parameter is an arbitrary key value encoded in Base32 according to RFC 3548. The padding specified in RFC 3548 section 2.2 is not required and should be omitted.
```

The relevant piece of code is here: `QString(Base32::sanitizeInput(settings->key.toLatin1()))`, in src/totp/totp.cpp. It could be as simple as some regex replacement `/=*$//;` after the Base32 encoding.

```cpp
if (settings->otpUrl || forceOtp) {
        auto urlstring = QString("otpauth://totp/%1:%2?secret=%3&period=%4&digits=%5&issuer=%1")
                             .arg(title.isEmpty() ? "KeePassXC" : QString(QUrl::toPercentEncoding(title)),
                                  username.isEmpty() ? "none" : QString(QUrl::toPercentEncoding(username)),
                                  QString(Base32::sanitizeInput(settings->key.toLatin1())),
                                  QString::number(settings->step),
                                  QString::number(settings->digits));
```

That being said `=` is only used for padding in Base32, so, maybe it would be sufficient to just replace all `=` with `''` (empty string).

Digging further into it, from `RFC 3548  The Base16, Base32, and Base64 Data Encodings     July 2003`, there are just a few situations:

1. No padding (the final quantum of encoding input is an integral multiple of 40 bits)
2. 6 padding "=" characters (the final quantum of encoding input is exactly 8 bits)
3. 4 padding "=" characters (the final quantum of encoding input is exactly 16 bits)
4. 3 padding "=" characters (the final quantum of encoding input is exactly 24 bits)
5. 1 padding "=" character (the final quantum of encoding input is exactly 32 bits)

So, to be very specific, we could amend the regex as follows:

```cpp
    test = QString(Base32::sanitizeInput(settings->key.toLatin1()))
    regex reg("(={6}|={3,4}|=)$");
    test = regex_replace(test, reg, "");
```

That being said, I'm not sure if there are situations where having the padding is helpful, though would need to be URI encoded at a minimum..

## Steps to Reproduce
Add a TOTP key that has some padding (with ending equal signs).

## Debug Info
[NOTE]: # ( Paste debug info from Help → About here )
KeePassXC - 2.4.1 (macOS 10.14)

Also tested with latest develop branch.


The real error is not url encoding the key. I do not agree with removing padding, it's there for a reason.

@droidmonkey was wondering about that approach too. Google suggests to remove it, but if it works without removing it, then agree:

> That being said, I'm not sure if there are situations where having the padding is helpful, though would need to be URI encoded at a minimum..

https://github.com/google/google-authenticator/wiki/Key-Uri-Format

The padding is necessary when you don't know the full length (ie, did I receive the whole transmission??). But to decode you have to add the padding in anyway.

@droidmonkey makes sense.

So, adding `QUrl::toPercentEncoding` fixes it?

It should yes